body {
    background-image: url(/images/navbar-icon.png);
    padding-top: 125px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#main-search {
    width: 40%;
    border: 3px solid green;
    display: block; 
    margin: auto; 
    
}

form {
    width: 100%; 
}

.custom-icon img, .custom-bootstrap-icon img {
    vertical-align: bottom;
}

.custom-bootstrap-icon {
    margin-left: -20px; 
    margin-top: 20px;
}

#displayWindow {
    display: none; 
    background-image: linear-gradient(360deg, hsl(190.04,89.72%,49.61%), hsl(0, 100%, 70%), hsl(190.04,89.72%,49.61%));
    flex-direction: column;
    margin-bottom: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.508);
    border-radius: 10px;
}

#flagAndArms {
    justify-content: center;

}

#countryName {
    text-align: center;
}

#countryCoatOfArms {
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#countryFlag {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.productOf {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.smallerProductOf {
    white-space: nowrap;
    display: none;
    margin-bottom: 0;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.input-container {
    margin-bottom: 10px;
    min-width: 100%;
    position: relative;
    
}

#foundMatch {
    position: absolute; 
    color: green;
    display: none;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: 32%;
    
}

.info {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
}

.navbar-text {
    font-weight: bold;
    font-family: fantasy;
    color: black;
    
}
.search-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.508);
    background: linear-gradient(45deg, hsl(190.04,89.72%,49.61%), hsl(0, 100%, 70%), hsl(190.04,89.72%,49.61%)) !important;
    border: none;
    border-radius: 10;
    color: black;
    font-family: fantasy, Arial, sans-serif; 
    font-size: large;
    width: 20%;
    

    
}



@media (max-width: 500px) {
    #foundMatch {
        position: absolute; 
        color: green;
        display: none;
        right: 1px;
        top: 50%;
        transform: translateY(-50%);
        right: 21%;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    .search-button {
        min-width: 35%;
    }
    #search-form {
        width: 100%;
    }
    #main-search {
        width: 60%;
    }
    .navbar-text h1 {
        font-size: 16px;  
    }
    .suggestions-dropdown {
        position: absolute;
        top: 52px;
        left: 20px;
    
    }
    #displayWindow {
        max-width: 95%;
    }

}

@media (min-width: 1200px) {
    

    #countryFlag {
        width: 450px;
    } 
    #countryCoatOfArms {
        min-width: 350px;
        
        
    }
}
.plain {
    text-decoration: none;
    color: black;
}

.navbar-icon2 {
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.navbar-icon {
width: 50px;
height: 50px;
}

.suggestions-dropdown {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 25%;
    display: none; 
    position: absolute;
    right: 50px;
}

.suggestions-dropdown li {
    padding: 8px;
    background: white;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: #f0f0f0;
}